@font-face {
  font-family: 'Arsenal';
  src: url('../../public/font/Arsenal-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Arsenal';
  src: url('../../public/font/Arsenal-Bold.ttf') format('truetype');
  font-weight: bold;
}

:root {
  --color-brown-dark: #443235;
  --color-brown-medium: #654A4E;
  --color-brown-light: #916A70;
  --color-beige: #E6DDDE;
  --color-beige-gray: #B3A9A7;
  --color-dark-gray: #CBCBCB;
  --margin-value: 12px;
}

*::-webkit-scrollbar{
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb{
  border-radius: 1px !important;
  background: var(--color-beige-gray);
}

body * {
  scrollbar-width: thin !important;
  scrollbar-color: var(--color-beige-gray) transparent;
  overflow: hidden;
  box-sizing: content-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Arsenal', sans-serif;
}

.moving{
  cursor: grabbing
}