* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  box-sizing: content-box;
}

textarea.note-content{
  height: 230px;
  background: transparent;
  outline: none !important;
  border: none;
  resize: none;
}

.header{
  font-weight: 600;
  cursor: move;
  box-sizing: content-box !important;
  height: 34px;
  width: 168px;
  align-self: center;
  display: flex;
  align-items: center;
}

.header.moving{
  cursor: grabbing
}