@use "variables"
@use "mixins"

svg.icon,
.icon
  height: variables.$icon-size
  width: variables.$icon-size
  min-width: variables.$icon-size
  margin: 0px 4px
  cursor: pointer
  &:before
    content: ''
    position: absolute
    top: -10px
    right: -10px
    bottom: -10px
    left: -10px
    cursor: pointer
  &.disabled
    opacity: 0.6
    pointer-events: none
    > *
      pointer-events: none
  &.without-margin
    margin: 0px
  &.without-margin-left
    margin: 0px 0px
    margin-right: variables.$margin-quarter-value
  &.without-margin-right
    margin: 0px 0px
    margin-left: variables.$margin-quarter-value
  &.margin-left-zero
    margin-left: 0px
  &.medium
    height: variables.$icon-medium-size
    width: variables.$icon-medium-size
    min-width: variables.$icon-medium-size
  &.stroke-color,
  &.stroke-fill-color
    path
      stroke: variables.$icon-color !important
    circle
      stroke: variables.$icon-color !important
    rect
      stroke: variables.$icon-color !important
    &.white
      @include mixins.colored_stroke_icon(white)
    &.green
      @include mixins.colored_stroke_icon(variables.$color-green-meadow)
    &.gray
      @include mixins.colored_stroke_icon(variables.$color-beige-gray)
    &.red
      @include mixins.colored_stroke_icon(variables.$color-red-mint)
    &.hover-green
      &:hover
        @include mixins.colored_stroke_icon(variables.$color-green-meadow)
    &.hover-red
      &:hover
        @include mixins.colored_stroke_icon(variables.$color-red-mint)
  &:not(.without-def-color):not(.stroke-color)
    path
      fill: variables.$icon-color !important
    circle
      fill: variables.$icon-color !important
    rect
      fill: variables.$icon-color !important
    &.white
      @include mixins.colored_icon(white)
    &.gray
      @include mixins.colored_icon(variables.$color-beige-gray)
    &.hover-red
      &:hover
        @include mixins.colored_icon(variables.$color-red-mint)
.padding-icon-parent
  padding-top: 4px
  padding-bottom: 4px
  padding-left: 4px
  padding-right: 4px
  &.no-left
    padding-left: 0px
.padding-top
  padding-top: variables.$padding-half-value
  &-small
    padding-top: variables.$padding-quarter-value
  &-big
    padding-top: variables.$padding-value
.padding-bottom
  padding-bottom: variables.$padding-half-value
  &-small
    padding-bottom: variables.$padding-quarter-value
  &-big
    padding-bottom: variables.$padding-value
.padding-left
  padding-left: variables.$padding-half-value
  &-small
    padding-left: variables.$padding-quarter-value
  &-big
    padding-left: variables.$padding-value
.padding-right
  padding-right: variables.$padding-half-value
  &-small
    padding-right: variables.$padding-quarter-value
  &-big
    padding-right: variables.$padding-value

.margin-top
  margin-top: variables.$margin-half-value
  &-small
    margin-top: variables.$margin-quarter-value
  &-big
    margin-top: variables.$margin-value
.margin-bottom
  margin-bottom: variables.$margin-half-value
  &-small
    margin-bottom: variables.$margin-quarter-value
  &-big
    margin-bottom: variables.$margin-value
.margin-left
  margin-left: variables.$margin-half-value
  &-small
    margin-left: variables.$margin-quarter-value
  &-big
    margin-left: variables.$margin-value
.margin-right
  margin-right: variables.$margin-half-value
  &-small
    margin-right: variables.$margin-quarter-value
  &-big
    margin-right: variables.$margin-value
.flex-row
  @include mixins.flex()
  flex-direction: row
.flex-col
  @include mixins.flex()
  flex-direction: column