@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
  --color-brown-dark: #443235;
  --color-brown-medium: #654A4E;
  --color-brown-light: #916A70;
  --color-beige: #E6DDDE;
  --color-beige-gray: #B3A9A7;
  --color-dark-gray: #CBCBCB;
  --margin-value: 12px;
}


*::-webkit-scrollbar{
  width: 2px;
  height: 2px;
}


::-webkit-scrollbar-thumb{
  border-radius: 1px !important;
  background: var(--color-beige-gray);
}


body * {
  scrollbar-width: thin !important;
  scrollbar-color: var(--color-beige-gray) transparent;
  overflow: hidden;
  box-sizing: content-box;
}


* {
  padding: 0;
  margin: 0;
  font-family: 'Arsenal', sans-serif;
}


.moving{
  cursor: grabbing
}svg.icon,
.icon {
  height: 16px;
  width: 16px;
  min-width: 16px;
  margin: 0px 4px;
  cursor: pointer;
}
svg.icon:before,
.icon:before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  cursor: pointer;
}
svg.icon.disabled,
.icon.disabled {
  opacity: 0.6;
  pointer-events: none;
}
svg.icon.disabled > *,
.icon.disabled > * {
  pointer-events: none;
}
svg.icon.without-margin,
.icon.without-margin {
  margin: 0px;
}
svg.icon.without-margin-left,
.icon.without-margin-left {
  margin: 0px 0px;
  margin-right: 6px;
}
svg.icon.without-margin-right,
.icon.without-margin-right {
  margin: 0px 0px;
  margin-left: 6px;
}
svg.icon.margin-left-zero,
.icon.margin-left-zero {
  margin-left: 0px;
}
svg.icon.stroke-color path, svg.icon.stroke-fill-color path,
.icon.stroke-color path,
.icon.stroke-fill-color path {
  stroke: #443235 !important;
}
svg.icon.stroke-color circle, svg.icon.stroke-fill-color circle,
.icon.stroke-color circle,
.icon.stroke-fill-color circle {
  stroke: #443235 !important;
}
svg.icon.stroke-color rect, svg.icon.stroke-fill-color rect,
.icon.stroke-color rect,
.icon.stroke-fill-color rect {
  stroke: #443235 !important;
}
svg.icon.stroke-color.white path, svg.icon.stroke-fill-color.white path,
.icon.stroke-color.white path,
.icon.stroke-fill-color.white path {
  stroke: white !important;
}
svg.icon.stroke-color.white circle, svg.icon.stroke-fill-color.white circle,
.icon.stroke-color.white circle,
.icon.stroke-fill-color.white circle {
  stroke: white !important;
}
svg.icon.stroke-color.white rect, svg.icon.stroke-fill-color.white rect,
.icon.stroke-color.white rect,
.icon.stroke-fill-color.white rect {
  stroke: white !important;
}
svg.icon.stroke-color.green path, svg.icon.stroke-fill-color.green path,
.icon.stroke-color.green path,
.icon.stroke-fill-color.green path {
  stroke: #1BBC9B !important;
}
svg.icon.stroke-color.green circle, svg.icon.stroke-fill-color.green circle,
.icon.stroke-color.green circle,
.icon.stroke-fill-color.green circle {
  stroke: #1BBC9B !important;
}
svg.icon.stroke-color.green rect, svg.icon.stroke-fill-color.green rect,
.icon.stroke-color.green rect,
.icon.stroke-fill-color.green rect {
  stroke: #1BBC9B !important;
}
svg.icon.stroke-color.gray path, svg.icon.stroke-fill-color.gray path,
.icon.stroke-color.gray path,
.icon.stroke-fill-color.gray path {
  stroke: #B3A9A7 !important;
}
svg.icon.stroke-color.gray circle, svg.icon.stroke-fill-color.gray circle,
.icon.stroke-color.gray circle,
.icon.stroke-fill-color.gray circle {
  stroke: #B3A9A7 !important;
}
svg.icon.stroke-color.gray rect, svg.icon.stroke-fill-color.gray rect,
.icon.stroke-color.gray rect,
.icon.stroke-fill-color.gray rect {
  stroke: #B3A9A7 !important;
}
svg.icon.stroke-color.red path, svg.icon.stroke-fill-color.red path,
.icon.stroke-color.red path,
.icon.stroke-fill-color.red path {
  stroke: #E43A45 !important;
}
svg.icon.stroke-color.red circle, svg.icon.stroke-fill-color.red circle,
.icon.stroke-color.red circle,
.icon.stroke-fill-color.red circle {
  stroke: #E43A45 !important;
}
svg.icon.stroke-color.red rect, svg.icon.stroke-fill-color.red rect,
.icon.stroke-color.red rect,
.icon.stroke-fill-color.red rect {
  stroke: #E43A45 !important;
}
svg.icon.stroke-color.hover-green:hover path, svg.icon.stroke-fill-color.hover-green:hover path,
.icon.stroke-color.hover-green:hover path,
.icon.stroke-fill-color.hover-green:hover path {
  stroke: #1BBC9B !important;
}
svg.icon.stroke-color.hover-green:hover circle, svg.icon.stroke-fill-color.hover-green:hover circle,
.icon.stroke-color.hover-green:hover circle,
.icon.stroke-fill-color.hover-green:hover circle {
  stroke: #1BBC9B !important;
}
svg.icon.stroke-color.hover-green:hover rect, svg.icon.stroke-fill-color.hover-green:hover rect,
.icon.stroke-color.hover-green:hover rect,
.icon.stroke-fill-color.hover-green:hover rect {
  stroke: #1BBC9B !important;
}
svg.icon.stroke-color.hover-red:hover path, svg.icon.stroke-fill-color.hover-red:hover path,
.icon.stroke-color.hover-red:hover path,
.icon.stroke-fill-color.hover-red:hover path {
  stroke: #E43A45 !important;
}
svg.icon.stroke-color.hover-red:hover circle, svg.icon.stroke-fill-color.hover-red:hover circle,
.icon.stroke-color.hover-red:hover circle,
.icon.stroke-fill-color.hover-red:hover circle {
  stroke: #E43A45 !important;
}
svg.icon.stroke-color.hover-red:hover rect, svg.icon.stroke-fill-color.hover-red:hover rect,
.icon.stroke-color.hover-red:hover rect,
.icon.stroke-fill-color.hover-red:hover rect {
  stroke: #E43A45 !important;
}
svg.icon:not(.without-def-color):not(.stroke-color) path,
.icon:not(.without-def-color):not(.stroke-color) path {
  fill: #443235 !important;
}
svg.icon:not(.without-def-color):not(.stroke-color) circle,
.icon:not(.without-def-color):not(.stroke-color) circle {
  fill: #443235 !important;
}
svg.icon:not(.without-def-color):not(.stroke-color) rect,
.icon:not(.without-def-color):not(.stroke-color) rect {
  fill: #443235 !important;
}
svg.icon:not(.without-def-color):not(.stroke-color).white path,
.icon:not(.without-def-color):not(.stroke-color).white path {
  fill: white !important;
}
svg.icon:not(.without-def-color):not(.stroke-color).white circle,
.icon:not(.without-def-color):not(.stroke-color).white circle {
  fill: white !important;
}
svg.icon:not(.without-def-color):not(.stroke-color).white rect,
.icon:not(.without-def-color):not(.stroke-color).white rect {
  fill: white !important;
}
svg.icon:not(.without-def-color):not(.stroke-color).gray path,
.icon:not(.without-def-color):not(.stroke-color).gray path {
  fill: #B3A9A7 !important;
}
svg.icon:not(.without-def-color):not(.stroke-color).gray circle,
.icon:not(.without-def-color):not(.stroke-color).gray circle {
  fill: #B3A9A7 !important;
}
svg.icon:not(.without-def-color):not(.stroke-color).gray rect,
.icon:not(.without-def-color):not(.stroke-color).gray rect {
  fill: #B3A9A7 !important;
}
svg.icon:not(.without-def-color):not(.stroke-color).hover-red:hover path,
.icon:not(.without-def-color):not(.stroke-color).hover-red:hover path {
  fill: #E43A45 !important;
}
svg.icon:not(.without-def-color):not(.stroke-color).hover-red:hover circle,
.icon:not(.without-def-color):not(.stroke-color).hover-red:hover circle {
  fill: #E43A45 !important;
}
svg.icon:not(.without-def-color):not(.stroke-color).hover-red:hover rect,
.icon:not(.without-def-color):not(.stroke-color).hover-red:hover rect {
  fill: #E43A45 !important;
}#pluginNotes {
  width: 200px;
  height: 316px;
  background-color: #E6DDDE;
  z-index: 1000;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  position: fixed;
}
#pluginNotes.miminized {
  border: 1px solid rgb(221, 221, 221);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  cursor: pointer;
}
#pluginNotes #minimizationBtn {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 2px;
  right: 8px;
  cursor: pointer;
}
#pluginNotes #draggablePoint {
  position: absolute;
  left: 3px;
  top: 13px;
  height: 16px;
  width: 16px;
  cursor: move;
  display: none;
}
#pluginNotes #draggablePoint .moveIcon {
  cursor: move !important;
}
#pluginNotes:hover #draggablePoint {
  display: flex;
}
#pluginNotes .header {
  font-weight: 600;
  box-sizing: content-box !important;
  height: 44px;
  width: 168px;
  align-self: center;
  display: flex;
  align-items: center;
  color: var(--color-brown-dark);
}
#pluginNotes .header .input-title {
  font-weight: 600;
  outline: none;
  border: none;
  padding-left: 20px;
  background: transparent;
}
#pluginNotes .main-content {
  padding: 0px 16px;
}
#pluginNotes .main-content textarea.note-content {
  height: 230px;
  background: transparent;
  outline: none !important;
  border: none;
  resize: none;
  line-height: 23px;
  width: 100%;
  color: #443235;
}
#pluginNotes .main-content .footer {
  padding: 8px 0px;
}